.a {
  color:blue;
  font-weight: bolder;
}

h1 {
  margin-left: 20px;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
}

.parents {
  position: relative;
}

.first {
  position: absolute;
  font-size: 50px;
  top: 450px;
}

.second {
  position: absolute;
  top: 560px;
  left: 0px;
  width: 1050px;
  height: 180px;
  background-color: blue;
}

.third {
  position: absolute;
  top: 200px;
  right: 0px;
}